.table-component {
  .table {
    table-layout: fixed;
    width: 100%;
    border-radius: 5px;
    border-spacing: 0;

    .table-head {
      .data {
        &:first-of-type {
          .content {
            background-image: linear-gradient(to right, $primaryBg 30%, $ternaryBg 70%);
          }
        }
  
        &:last-of-type {
          .content {
            background-image: linear-gradient(to left, $primaryBg 30%, $ternaryBg 70%);
          }
        }
      }  
    }

    .table-body {
      .data {
        padding: 12px 0;

        &:hover,
        &:focus {
          .content {
            background: lighten($secondaryBg, 3%) !important;
          }
        }

        &:first-of-type {
          .content {
            background-image: linear-gradient(to right, $primaryBg 30%, $secondaryBg 70%);
          }
        }
  
        &:last-of-type {
          .content {
            background-image: linear-gradient(to left, $primaryBg 30%, $secondaryBg 70%);
          }
        }
      }  

      .row {
        &:hover,
        &:focus {
          .data {
            .content {
              background: lighten($secondaryBg, 1%);
            }
          }
        }

        &:last-of-type {
          .data {
            .content {
              background: none;
              padding: 0;
              height: auto;
            }

            .amount {
              color: $primaryText;
              background: $ternaryBg;
              padding: 14px;
              line-height: 1;
              box-shadow: inset 0 0 4px 4px $primaryBg;
            }

            &::before {
              content: none;
            }
          }
        }
      }
    }

    .data {
      padding: 14px 0;

      &:nth-last-of-type(n + 3) {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
          width: 10px;
          background: $ternaryBg;
          z-index: -1;
          box-shadow: inset 0 0 3px 3px $primaryBg;
        }
      }

      &:first-of-type {
        &::before {
          content: none;
        }

        .content {
          font-weight: 700;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          justify-content: flex-start;
        }
      }

      &:last-of-type {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;

        .content {
          justify-content: flex-end;
        }
      }

      &:nth-last-of-type(2) {
        width: 134px;

        .content {
          justify-content: flex-start;
        }
      }

      &.paid {
        .amount {
          color: $statusPaidBg;
        }
      }

      &.pending {
        .amount {
          color: $statusPendingBg;
        }
      }

      &.unpaid {
        .amount {
          color: $statusUnpaidBg;
        }
      }
    }

    .amount {
      font-weight: bold;
      text-align: center;
    }
  
    .head {
      .content {
        color: rgba($primaryText, .8);
        background: $ternaryBg;
      }
    }
  
    .content {
      padding: 14px 22px;
      background: $secondaryBg;
      color: $primaryText;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .1s;
    }
  
    @media screen and (max-width: 960px) {
      width: auto;

      .data {
        &:last-of-type {
          min-width: 200px;
        }
      }
    }
  }

  @media screen and (max-width: 960px) {
    overflow-x: auto;
  }
}

